<!DOCTYPE html>  
<html>  
<head>  
    <title>home</title>  
  <style>
    * {
      padding: 0;
      margin: 0;
    }
    header{
      display: flex;
      align-items: center;
      justify-content: center;
      padding:20px;
      background-color: violet;
      color:white;
      font-family: Serif;

    
  </style>
</head>  
<body>
  <header>
    <h2>PROJETO FINAL SISTEMAS MÓVEIS DISTRIBUÍDOS</h2> 
    </header>
   
    <a href="/pessoas/token=12345qwert">Lista</a><br><br>
		<a href="/alocarpessoa/token=12345qwert">Alocar uma nova pessoa</a><br><br>  
  <text>

<li><b>chave de acesso padrão para executar os serviços </b>:servico/token=12345qwert</li>
<li><b>https://ProjetoFinalSMD.gustavogabrie11.repl.co/pessoas/token=12345qwert</b>: para obter uma lista de regitros no banco de dados</li>
<li><b>https://ProjetoFinalSMD.gustavogabrie11.repl.co/alocarpessoa/token=12345qwert</b>: para inserir uma nova pessoa no banco de dados</li>
<li><b>https://ProjetoFinalSMD.gustavogabrie11.repl.co/removepessoa/token=12345qwert/cpf</b>: para remover uma pessoa do banco de dados pelo CPF</li>     

<li> 
<b>https://ProjetoFinalSMD.gustavogabrie11.repl.co/pessoa/token=12345qwert/cpf </b>: para obter um registro em formato JSON </li>
    
  </text>

</body>  
</html> 